<section class="classes top-spacing mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top-spacing">
                    <h4 class="text-uppercase mb-3 side-title">كورساتنا</h4>
                    <p class="text-default mb-3 mb-lg-5">لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار  النشوة وتمجيد الألم نشأت بالفعل، وسأعرض لك التفاصيل لتكتشف حقيقة وأساس تلك السعادة البشرية، فلا أحد يرفض أو يكره أو يتجنب الشعور بالسعادة، ولكن بفضل هؤلاء الأشخاص الذين لا يدركون بأن السعادة لا بد أن نستشعرها بصورة أكثر عقلانية .</p>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-area pb-lg-5">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <img src="../../../../../assets/images/apply-img.png" alt="">
            </ng-template>  
            <ng-template carouselSlide>
                <img src="../../../../../assets/images/apply-img.png" alt="">
            </ng-template>  
            <ng-template carouselSlide>
                <img src="../../../../../assets/images/apply-img.png" alt="">
            </ng-template>  
            <ng-template carouselSlide>
                <img src="../../../../../assets/images/apply-img.png" alt="">
            </ng-template>  
            <ng-template carouselSlide>
                <img src="../../../../../assets/images/apply-img.png" alt="">
            </ng-template>  
        </owl-carousel-o>
    </div>
</section>