<app-header></app-header>

<section class="highlights">
 <div class="container d-flex">
  <div class="w-60 text-center pt-5">
   <h2 class="pb-4">العلم ركيزتنا</h2>
   <h3 class="pb-4 color-secondary">والريادة هدفنا</h3>
  </div>
  <div class="img-area">
    <img [src]="aboutSloganImage || '../../../../../assets/images/apply-img.png'" 
    alt="About Slogan" 
    class="main-img img-fluid">  </div>
 </div>
</section>

<section class="apply top-spacing mb-5">
 <div class="container">
  <div class="mb-5 pb-4">
    <h4 class="text-uppercase mb-4 side-title">عن الشركة</h4>
    <p>نحن نساعد طلابنا بالمعدات والمعلمين والفصول الدراسية حتى يتمكنوا من تحقيق أهدافهم الجامعية بسهولة. نحن نقدم رعاية حقيقية لكل عضو.</p>
  </div>
  <div class="row">
   <div class="col-md-3">
    <div class="position-relative images-area">
     <img src="../../../../../assets/images/apply-img.png" alt="" class="main-img img-fluid">
     <!-- <div><img src="../../../../assets/images/about-img.png" class="about-img img-fluid" /></div> -->
     <!-- <div class="vertical-text">
      <p class="text-uppercase">الألاف من الطلاب <span class="color-secondary">سعداء</span></p>
     </div> -->
     <div><img src="../../../../assets/images/arrow.png" class="arrow" /></div>
    </div>
    <!-- <div class="trainees">
     <div class="images mb-2">
      <img src="../../../../assets/images/apply-img.png" class="rounded-img" />
      <img src="../../../../assets/images/apply-img.png" class="rounded-img" />
      <img src="../../../../assets/images/apply-img.png" class="rounded-img" />
      <img src="../../../../assets/images/apply-img.png" class="rounded-img" />
     </div>
     <p>More than <span class="color-secondary mb-2">1500</span> Trainee</p>
    </div> -->
   </div>
   <div class="col-md-9">
    <div class="content">
     <h4 class="text-uppercase mb-3 mt-lg-3">الألاف من الطلاب <span class="color-secondary">سعداء</span></h4>
     <p class="text-default">لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار النشوة وتمجيد الألم نشأت
      بالفعل، وسأعرض لك التفاصيل لتكتشف حقيقة وأساس تلك السعادة البشرية، فلا أحد يرفض أو يكره أو يتجنب الشعور بالسعادة،
      ولكن بفضل هؤلاء الأشخاص الذين لا يدركون بأن السعادة لا بد أن نستشعرها بصورة أكثر عقلانية ومنطقية فيعرضهم هذا
      لمواجهة الظروف الأليمة، وأكرر بأنه لا يوجد من يرغب في الحب ونيل المنال ويتلذذ بالآلام، الألم هو الألم ولكن نتيجة.
     </p>
     <p class="text-default mt-lg-4 mb-5">لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار النشوة وتمجيد الألم
      نشأت بالفعل، وسأعرض لك التفاصيل لتكتشف حقيقة وأساس تلك السعادة البشرية، فلا أحد يرفض أو يكره أو يتجنب الشعور
      بالسعادة، ولكن بفضل هؤلاء الأشخاص.</p>
     <a class="md-default-link secondary-color text-decoration-underline">تعلم المزيد</a>
     <div class="mt-4 action">
      <img src="../../../../../assets/images/buzz.png" class="img-fluid buzz" />
     </div>
    </div>
   </div>
  </div>
 </div>
</section>

<section class="features py-5">
 <div class="container">
  <div class="row">
   <div class="col-md-8 item">
    <h2 class="mb-3">آلاف الطلاب  <span class="color-secondary">سعداء</span></h2>
    <p>{{settingsInfo?.vision_ar}}</p>
   </div>
   <div class="col-md-4 text-center d-xs-none">
    <img src="../../../assets/images/1.png" />
   </div>
   <div class="col-md-4 text-center d-xs-none">
     <img src="../../../assets/images/2.png" />
   </div>
   <div class="col-md-8 item">
    <h2 class="mb-3">آلاف الطلاب  <span class="color-secondary">سعداء</span></h2>
    <p>{{settingsInfo?.staticties_ar}}</p>
   </div>
   <div class="col-md-8 item">
    <h2 class="mb-3">آلاف الطلاب  <span class="color-secondary">سعداء</span></h2>
    <p>{{settingsInfo?.target_ar}}</p>
   </div>
   <div class="col-md-4 text-center d-xs-none">
    <img src="../../../assets/images/3.png" />
   </div>
   <div class="col-md-4 text-center d-xs-none">
     <img src="../../../assets/images/4.png" />
   </div>
   <div class="col-md-8 item">
    <h2 class="mb-3">آلاف الطلاب  <span class="color-secondary">سعداء</span></h2>
    <p>{{settingsInfo?.mision_ar}}</p>
   </div>
  </div>
 </div>
</section>

<section class="member">
 <div class="container">
  <div class="row">
   <div class="col-md-8">
    <div class="top-spacing">
     <h4 class="text-uppercase mb-3 side-title"><span class="color-secondary">أصبح عضوآ</span> لتحقق أهدافك</h4>
     <p class="text-default mb-3 mb-lg-5">لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار النشوة وتمجيد
      الألم نشأت بالفعل، وسأعرض لك التفاصيل لتكتشف حقيقة وأساس تلك السعادة البشرية، فلا أحد يرفض أو يكره أو يتجنب الشعور
      بالسعادة، ولكن بفضل هؤلاء الأشخاص الذين لا يدركون بأن السعادة لا بد أن نستشعرها بصورة أكثر عقلانية ومنطقية فيعرضهم
      هذا لمواجهة الظروف الأليمة.</p>
    </div>
    <form>
     <div class="input-area">
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="البريد الألكترونى">
     </div>
     <button type="submit" class="btn main-btn">إرسال</button>
    </form>
   </div>
   <div class="col-md-4 member-img-area">
    <img src="../../../../../assets/images/member-img.png" alt="" class="img-fluid member-img">
   </div>
  </div>
 </div>
 <div class="word-bg">
  <!-- <img src="../../../../../assets/images/edulife-word.png" alt="EDULIFE"> -->
  <h2 class="mb-lg-5">الريادة</h2>
 </div>
</section>

<app-footer></app-footer>