<app-header></app-header>
<section class="inner-banner join tot">
    <div class="container d-flex justify-content-center flex-wrap">
        <div class="row">
            <div class="col-md-3">
                <div class="position-relative images-area">

                    <img [src]="diplomaDetails?.file" alt="{{ diplomaDetails?.name }}" class="main-img img-fluid">

                    <!-- <div><img [src]="diplomaDetails?.avatar" alt="{{ diplomaDetails?.name }}"
                            class="about-img img-fluid"></div> -->
                    <!-- <div class="vertical-text"><p class="text-uppercase">الألاف من الطلاب <span class="color-secondary">سعداء</span></p></div> -->
                    <div><img src="../../../../assets/images/arrow.png" class="arrow" /></div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="content">
                    <h1 class="mb-4 w-100">{{ diplomaDetails?.name }}</h1>
                    <div class="text-default mb-5" [innerHTML]="diplomaDetails?.short_description"></div>
                    <a *ngIf="isUserLoggedIn" class="btn main-btn ms-4" (click)="showSubscriptionPopup()">انضم الأن !</a>

                    <!-- Subscription Popup -->
                    <div *ngIf="isSubscriptionPopupVisible" class="popup-backdrop" (click)="closeSubscriptionPopup()">
                        <div class="popup-content" (click)="$event.stopPropagation()">
                          <button class="close-btn" (click)="closeSubscriptionPopup()">×</button>
                          <h4 class="text-uppercase mb-4 side-title">اشتراك في الدورة</h4>
                          <form (ngSubmit)="submitSubscriptionForm()">
                            <div class="form-group">
                              <input
                                type="text"
                                id="address"
                                [(ngModel)]="subscriptionForm.address"
                                name="address"
                                class="form-control mb-3"
                                placeholder="العنوان"
                                required
                              />
                            </div>
                            <div class="form-group">
                              <input
                                type="file"
                                id="image"
                                (change)="handleFileSelection($event)"
                                accept="image/*"
                                class="form-control mb-3"
                                required
                              />
                            </div>
                            <button type="submit" class="btn dark-blue-btn" [disabled]="!subscriptionForm.address || !subscriptionForm.image">
                              إرسال
                            </button>
                          </form>
                        </div>
                      </div>
                      
                    
                    <div *ngIf="!isUserLoggedIn">
                        <a (click)="showSignupPopup()" class="btn main-btn">سجل الأن !</a>
                    </div>

                    <!-- Signup Popup -->
                    <app-signup *ngIf="isSignupPopupVisible" (close)="closePopups()"
                        (userRegistered)="handleUserRegistered($event)"></app-signup>

                </div>
            </div>
        </div>
    </div>
    <section class="top-spacing tot-about mb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- <h2 class="faint-title">عن كورساتنا</h2> -->
                    <p class="title-before text-capitalize description">عن الدبلوم التدريبي </p>
                </div>
                <div class="col-md-7">
                    <!-- <h4 class="text-capitalize mb-3 side-title mt-3">لكن لا بد أن أوضح لك أن كل هذه الأفكار حول التعلم.
                    </h4> -->
                    <div class="details mt-3 mt-lg-5">
                        <!-- <p class="subtitle text-capitalize">التفاصيل:</p> -->
                        <div class="text-default mt-3" [innerHTML]="diplomaDetails?.long_description"></div>

                        <!-- <ul class="mt-3 mb-4">
                            <li>تطبيق استراتيجيات تجربة المستخدم على محتوى الموقع وتصميمه</li>
                            <li>فهم هندسة المعلومات لتحسين المحتوى على موقع الويب الخاص بك</li>
                            <li>تعرف على ما يخصص شكل موقع الويب الخاص بك</li>
                        </ul> -->
                        <!-- <a>اقرأ المزيد...</a> -->
                    </div>
                </div>
                <div class="col-md-5 display flex-wrap">
                    <div class="top">
                        <div class="item">
                            <div class="icon-wrapper">
                                <img src="../../../assets/images/student.png" class="img-fluid" />
                            </div>
                            <div class="text">
                                <h3>نظام الدراسة</h3>
                                <p>اختر بين الدراسة حضوري او عبر الإنترنت بسهولة</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="icon-wrapper">
                                <img src="../../../../../assets/images/semester.png" class="img-fluid" />
                            </div>
                            <div class="text">
                                <h3> مرونة الدراسة </h3>
                                <p> استمتع بجدول دراسي يناسب وقتك صباحًا أو مساءً.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="icon-wrapper">
                                <img src="../../../../../assets/images/levels.png" class="img-fluid" />
                            </div>
                            <div class="text">
                                <h3>مستوي الدراسة
                                </h3>
                                <p>متاح لجميع المستويات المبتدئ والمتقدم.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="icon-wrapper">
                                <img src="../../../../../assets/images/document.png" class="img-fluid" />


                            </div>
                            <div class="text">
                                <h3> شهادة معتمدة
                                </h3>
                                <p>يتم الحصول على شهادة معتمدة محلياً ودوليًا.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="icon-wrapper">
                                <img src="../../../assets/images/book.png" class="ms-2" />
                            </div>
                            <div class="text">
                                <h3>المادة العلمية
                                </h3>
                                <p>تحديث مستمر لتناسب التطورات العمليه والمهنية.</p>
                            </div>
                        </div>
                    </div>

                    <div class="bottom">
                        <div class="download">
                            <a [href]="diplomaDetails?.material_link" target="_blank">
                                <img src="../../../../../assets/images/download.png" class="ms-2" />
                                قم بتنزيل المنهج للحصول على التفاصيل الكاملة
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer id="footer"></app-footer>