<section class="inner-banner join tot">
    <div class="container d-flex justify-content-center flex-wrap">
        <div class="row">
            <div class="col-md-3">
                <div class="position-relative images-area">
                    <img src="../../../../../assets/images/apply-img.png" alt="" class="main-img img-fluid">
                    <div><img src="../../../../assets/images/about-img.png" class="about-img img-fluid" /></div>
                    <div class="vertical-text"><p class="text-uppercase">الألاف من الطلاب <span class="color-secondary">سعداء</span></p></div>
                    <div><img src="../../../../assets/images/arrow.png" class="arrow" /></div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="content">
                    <h1 class="mb-4 w-100">العنوان</h1>
                    <p class="text-default mb-5">لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار  النشوة وتمجيد الألم نشأت بالفعل، وسأعرض لك التفاصيل لتكتشف حقيقة وأساس تلك السعادة البشرية، فلا أحد يرفض أو يكره أو يتجنب الشعور بالسعادة، ولكن بفضل هؤلاء الأشخاص الذين لا يدركون بأن السعادة لا بد أن نستشعرها بصورة أكثر عقلانية ومنطقية فيعرضهم هذا لمواجهة الظروف الأليمة، وأكرر بأنه لا يوجد من يرغب في الحب ونيل المنال ويتلذذ بالآلام، الألم هو الألم ولكن نتيجة لظروف ما قد تكمن السعاده فيما نتحمله من كد وأسي..</p>
                    <div class="btn">
                        <a href="#" class="btn main-btn">انضم الأن !</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>