$white: #fff;
$primary: #193148;
$secondary: #e4b039;
$dark-blue: #30333c;
$blue: #396de4;
$light-blue: #4d83b6;
$brown: #483019;
$off-white: #f5f4f0;
$l-blue: #689cfd;
$light-gray: #d9d9d9;
$gray: #adadad;
$black: #000;
