<footer class="top-spacing">
    <div class="row text-center py-4">
        <h3>شركاؤنا!</h3>
    </div>

    <div class="partners carousel-area py-lg-5 py-4 mb-4">
        <div class="container-fluid">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="partner-logo">
                        <a href="/" class="d-flex align-items-center partner justify-content-center">
                            <img src="../../../assets/images/IMG_7551.PNG" class="img-fluid" />
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-logo">
                        <a href="/" class="d-flex align-items-center partner justify-content-center">
                            <img src="../../../assets/images/IMG_7552.PNG" class="img-fluid" />
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-logo">
                        <a href="/" class="d-flex align-items-center partner justify-content-center">
                            <img src="../../../assets/images/IMG_7553.PNG" class="img-fluid" />
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-logo">
                        <a href="/" class="d-flex align-items-center partner justify-content-center">
                            <img src="../../../assets/images/IMG_7554.PNG" class="img-fluid" />
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-logo">
                        <a href="/" class="d-flex align-items-center partner justify-content-center">
                            <img src="../../../assets/images/IMG_7555.PNG" class="img-fluid" />
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-logo">
                        <a href="/" class="d-flex align-items-center partner justify-content-center">
                            <img src="../../../assets/images/IMG_7556.PNG" class="img-fluid" />
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-logo">
                        <a href="/" class="d-flex align-items-center partner justify-content-center">
                            <img src="../../../assets/images/IMG_7557.PNG" class="img-fluid" />
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-logo">
                        <a href="/" class="d-flex align-items-center partner justify-content-center">
                            <img src="../../../assets/images/IMG_7558.PNG" class="img-fluid" />
                        </a>
                    </div>
                </ng-template>

                <ng-template carouselSlide>
                    <div class="partner-logo">
                        <a href="/" class="d-flex align-items-center partner justify-content-center">
                            <img src="../../../assets/images/IMG_7559.PNG" class="img-fluid" />
                        </a>
                    </div>
                </ng-template>

                <ng-template carouselSlide>
                    <div class="partner-logo">
                        <a href="/" class="d-flex align-items-center partner justify-content-center">
                            <img src="../../../assets/images/IMG_7560.PNG" class="img-fluid" />
                        </a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="container">
        <div class="row pb-4">
            <div class="col-md-3 mb-3">
                <a href="/" class="d-flex align-items-center mb-4 link-dark text-decoration-none">
                    <img src="../../../assets/images/alriyada-institute-logo.png" class="img-fluid footer-logo" />
                </a>
                <p class="mb-3">معهد الريادة العلمي خبرة تتجاوز 9 سنوات في مجال التعليم والتدريب، نجحنا خلالهم في بناء
                    سجل حافل من الإنجازات وتعاونا مع العديد من الجهات الحكومية والخاصة لعقد اكثر من 250 دورة و دبلوم
                    تدريبي.

                </p>
                <p>© جميع الحقوق محفوظة لمعهد الريادة</p>
            </div>
            <div class="col-md-3 mb-3">
                <h5 class="mb-4">روابط هامة</h5>
                <ul class="nav flex-column p-0">
                    <li class="nav-item mb-3"><a routerLink="/about" class="nav-link p-0 text-muted">عن المعهد</a></li>
                    <li class="nav-item mb-3"><a routerLink="/diplomas" class="nav-link p-0 text-muted"> دبلوماتنا التدريبية </a></li>
                    <li class="nav-item mb-3"><a routerLink="/articles" class="nav-link p-0 text-muted">المقالات</a></li>
                    <!-- <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-muted">دراسات</a></li> -->
                </ul>
            </div>

            <div class="col-md-3 mb-3">
                <h5 class="mb-4">اتصل بنا</h5>
                <ul class="nav flex-column p-0">
                    <li class="nav-item mb-3">
                        <a href="tel:00201118111067" target="_blank" class="nav-link p-0 text-muted">
                            <i class="fa fa-phone"></i> {{settingsInfo?.phone}}
                        </a>
                    </li>
                    <li class="nav-item mb-3">
                        <a href="mailto:info@alriyada-edu.ae" target="_blank" class="nav-link p-0 text-muted">
                            <i class="fa fa-envelope"></i> {{settingsInfo?.email}}
                        </a>
                    </li>
                    <li class="nav-item mb-3">
                        <a href="tel:00201118111067" target="_blank" class="nav-link p-0 text-muted">
                            <img src="../../../assets/images/Landline.png" alt="landline-img" style="width: 1rem;"> {{settingsInfo?.name_ar}}
                        </a>
                    </li>
                    <li class="nav-item mb-3">
                        <a href="https://maps.app.goo.gl/amEAnkfHgpY4n3pe8?g_st=ic"
                            target="_blank" class="nav-link p-0 text-muted">
                            <i class="fa fa-map-marker"></i> {{settingsInfo?.address_ar}}
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 mb-3">
                <div class="social-icons">
                    <a href={{settingsInfo?.facebook}}><img src="../../../assets/images/facebook.png"
                            alt="facebook-img"></a>
                    <a href={{settingsInfo?.twitter}}><img src="../../../assets/images/twitter.png"
                            alt="twitter-img"></a>
                    <a href={{settingsInfo?.snapchat}}><img src="../../../assets/images/social.png"
                            alt="social-img"></a>
                    <a href={{settingsInfo?.instagram}}><img src="../../../assets/images/instagram.png"
                            alt="instagram-img"></a>
                    <a href="https://www.linkedin.com/company/alriyadainstitute/"><img src="../../../assets/images/linkedin.png"
                            alt="linkedin-img"></a>
                    <a href="https://www.tiktok.com/@alriyada_institute"><img src="../../../assets/images/tik-tok.png"
                            alt="tik-tok-img"></a>
                </div>
            </div>

        </div>
    </div>
</footer>