<footer class="pt-4 top-spacing">
    <div class="partners">
        <div class="container">
            <div class="row py-lg-5 py-4 mb-4">
                <div class="col-md-2 partner-logo">
                    <a href="/" class="d-flex align-items-center partner">
                        <img src="../../../assets/images/iads-logo-white.png" class="img-fluid" />
                    </a>
                </div>
                <div class="col-md-2 partner-logo">
                    <a href="/" class="d-flex align-items-center partner">
                        <img src="../../../assets/images/iads-logo-white.png" class="img-fluid" />
                    </a>
                </div>
                <div class="col-md-2 partner-logo">
                    <a href="/" class="d-flex align-items-center partner">
                        <img src="../../../assets/images/iads-logo-white.png" class="img-fluid" />
                    </a>
                </div>
                <div class="col-md-2 partner-logo">
                    <a href="/" class="d-flex align-items-center partner">
                        <img src="../../../assets/images/iads-logo-white.png" class="img-fluid" />
                    </a>
                </div>
                <div class="col-md-2 partner-logo">
                    <a href="/" class="d-flex align-items-center partner">
                        <img src="../../../assets/images/iads-logo-white.png" class="img-fluid" />
                    </a>
                </div>
                <div class="col-md-2 partner-logo">
                    <a href="/" class="d-flex align-items-center partner">
                        <img src="../../../assets/images/iads-logo-white.png" class="img-fluid" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row pb-4">
            <div class="col-md-6 mb-3">
                <a href="/" class="d-flex align-items-center mb-4 link-dark text-decoration-none">
                    <img src="../../../assets/images/iads-logo.png" class="img-fluid footer-logo" />
                </a>
                <p class="mb-3">لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار  النشوة وتمجيد الألم نشأت بالفعل، وسأعرض لك التفاصيل لتكتشف حقيقة وأساس تلك السعادة البشرية، فلا أحد يرفض أو يكره أو يتجنب الشعور بالسعادة، ولكن بفضل هؤلاء.</p>
                <p>© Edulife جميع الحقوق محفوظة.</p>
            </div>
            <div class="col-md-3 mb-3">
                <h5 class="mb-4">روابط هامة</h5>
                <ul class="nav flex-column p-0">
                  <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-muted">كورسات</a></li>
                  <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-muted">ورش عمل</a></li>
                  <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-muted">مسارات تعليمية</a></li>
                  <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-muted">دراسات</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-3">
                <h5 class="mb-4">تواصل معنا</h5>
                <ul class="nav flex-column p-0">
                  <li class="nav-item mb-3"><span class="nav-link p-0 text-muted">لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار  النشوة وتمجيد الألم نشأت بالفعل.</span></li>
                  <li class="nav-item mb-3"><a href="#" tel="(222)654-45678" class="nav-link p-0 text-muted">(222)654-45678</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>