<section class="best-seller top-spacing mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 mb-4">
                <div class="item">
                    <div class="image">
                        <img src="../../../../../assets/images/apply-img.png" alt="" class="img-fluid">
                    </div>
                    <div class="content">
                        <h3>اكتب العنوان</h3>
                        <p>و سأعرض مثال حي لهذا، من منا لم يتحمل جهد بدني شاق إلا من أجل الحصول على ميزة أو فائدة؟ ولكن من لديه الحق أن ينتقد شخص ما أراد أن يشعر بالسعادة التي لا تشوبها عواقب.</p>
                        <a class="sm-default-link text-decoration-underline">تعلم المزيد</a>
                    </div>
                    <div class="badge">
                        <p class="text-capitalize">الأفضل</p>
                        <p class="text-capitalize">مبيعآ</p>
                    </div>
                </div>
                <div class="text-center">
                    <p class="title">اكتب العنوان</p>
                    <a class="anchor-default" href="javascript:void(0);">تعلم المزيد</a>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="item">
                    <div class="image">
                        <img src="../../../../../assets/images/apply-img.png" alt="" class="img-fluid">
                    </div>
                    <div class="content">
                        <h3>اكتب العنوان</h3>
                        <p>و سأعرض مثال حي لهذا، من منا لم يتحمل جهد بدني شاق إلا من أجل الحصول على ميزة أو فائدة؟ ولكن من لديه الحق أن ينتقد شخص ما أراد أن يشعر بالسعادة التي لا تشوبها عواقب.</p>
                        <a class="sm-default-link text-decoration-underline">تعلم المزيد</a>
                    </div>
                    <div class="badge">
                        <p class="text-capitalize">الأفضل</p>
                        <p class="text-capitalize">مبيعآ</p>
                    </div>
                </div>
                <div class="text-center">
                    <p class="title">اكتب العنوان</p>
                    <a class="anchor-default" href="javascript:void(0);">تعلم المزيد</a>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="item">
                    <div class="image">
                        <img src="../../../../../assets/images/apply-img.png" alt="" class="img-fluid">
                    </div>
                    <div class="content">
                        <h3>اكتب العنوان</h3>
                        <p>و سأعرض مثال حي لهذا، من منا لم يتحمل جهد بدني شاق إلا من أجل الحصول على ميزة أو فائدة؟ ولكن من لديه الحق أن ينتقد شخص ما أراد أن يشعر بالسعادة التي لا تشوبها عواقب.</p>
                        <a class="sm-default-link text-decoration-underline">تعلم المزيد</a>
                    </div>
                    <div class="badge">
                        <p class="text-capitalize">الأفضل</p>
                        <p class="text-capitalize">مبيعآ</p>
                    </div>
                </div>
                <div class="text-center">
                    <p class="title">اكتب العنوان</p>
                    <a class="anchor-default" href="javascript:void(0);">تعلم المزيد</a>
                </div>
            </div>
        </div>
    </div>
</section>