<section class="highlights">
    <div class="container d-flex">
        <div>
            <h1 class="mb-lg-0">EDULIFE</h1>
            <h2>EDULIFE</h2>
            <p class="lg-text">طريقة جديدة للتعلم</p>
            <p class="sm-text">تساعد Edulife الطلاب على تحقيق أهدافهم بأسهل الطرق وأرخصها. إذا كنت تريد أن تكون جزءا من هذه العائلة. يمكنك التواصل معنا.</p>
            <div class="pb-4 links">
                <a href="#" class="btn main-btn">انضم الأن !</a>
                <a href="#" class="text-decoration-underline link me-5">تعلم المزيد</a>
            </div>
        </div>
        <div class="img-area">
            <img src="../../../../../assets/images/highlight-img.png" alt="">
        </div>
    </div>
</section>