<nav class="navbar navbar-expand-lg navbar-light" appScroll>
  <div class="container">
    <a class="navbar-brand" href="#"><img src="../../../assets/images/iads-logo.png" class="header-logo" /></a>
    <button class="navbar-toggler" id="toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">الصفحة الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">المميزات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">كورساتنا</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">مقالات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">تواصل معنا</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-registration mb-lg-0 align-items-center">
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">تسجيل الدخول</a>
        </li> -->
        <li class="nav-item">
          <a class="btn main-btn" href="javascript:void(0);">تسجيل الدخول</a>
        </li>
      </ul>
    </div>
  </div>
</nav>