<section class="join top-spacing mb-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="position-relative images-area">
          <img
            src="assets/images/apply-img.png"
            alt=""
            class="main-img img-fluid"
          />
          <div>
            <img
              src="assets/images/about-img.png"
              class="about-img img-fluid"
            />
          </div>
          <div class="vertical-text">
            <p class="text-uppercase">
              الألاف من الطلاب <span class="color-secondary">سعداء</span>
            </p>
          </div>
          <div><img src="assets/images/arrow.png" class="arrow" /></div>
        </div>
        <!-- <div class="trainees">
                    <div class="images mb-2">
                        <img src="assets/images/apply-img.png" class="rounded-img" />
                        <img src="assets/images/apply-img.png" class="rounded-img" />
                        <img src="assets/images/apply-img.png" class="rounded-img" />
                        <img src="assets/images/apply-img.png" class="rounded-img" />
                    </div>
                    <p>أكثر من <span class="color-secondary mb-2">1500</span> متدرب</p>
                </div> -->
      </div>
      <div class="col-md-9">
        <div class="content">
          <h4 class="text-uppercase mb-3 mt-lg-3">
            الألاف من الطلاب <span class="color-secondary">سعداء</span>
          </h4>
          <p class="text-default">
            لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار النشوة
            وتمجيد الألم نشأت بالفعل، وسأعرض لك التفاصيل لتكتشف حقيقة وأساس تلك
            السعادة البشرية، فلا أحد يرفض أو يكره أو يتجنب الشعور بالسعادة، ولكن
            بفضل هؤلاء الأشخاص الذين لا يدركون بأن السعادة لا بد أن نستشعرها
            بصورة أكثر عقلانية ومنطقية فيعرضهم هذا لمواجهة الظروف الأليمة، وأكرر
            بأنه لا يوجد من يرغب في الحب ونيل المنال ويتلذذ بالآلام، الألم هو
            الألم ولكن نتيجة لظروف ما قد تكمن السعاده فيما نتحمله من كد وأسي..
          </p>
          <p class="text-default mt-lg-4">
            لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار النشوة
            وتمجيد الألم نشأت بالفعل، وسأعرض لك التفاصيل لتكتشف حقيقة وأساس تلك
            السعادة البشرية، فلا أحد يرفض أو يكره أو يتجنب الشعور بالسعادة، ولكن
            بفضل هؤلاء الأشخاص الذين لا يدركون.
          </p>
          <a class="sm-default-link text-decoration-underline">تعلم المزيد</a>
          <div
            class="d-flex justify-content-between align-items-center mt-4 flex-wrap"
          >
            <div class="feedback-area">
              <!-- <p class="action-btn">اعجبنى</p>
                            <p class="action-btn me-4">تعليق</p>
                            <input type="email" class="form-control mt-3" id="exampleFormControlInput1" placeholder="تعليقك"> -->
            </div>
            <a href="#" class="btn main-btn">انضم الأن</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
