<section class="top-spacing tot-about mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="faint-title">عن كورساتنا</h2>
                <p class="title-before text-capitalize">عن كورساتنا</p>
            </div>
            <div class="col-md-7">
                <h4 class="text-capitalize mb-3 side-title mt-3">لكن لا بد أن أوضح لك أن كل هذه الأفكار حول التعلم.</h4>
                <div class="details mt-3 mt-lg-5">
                    <p class="subtitle text-capitalize">التفاصيل:</p>
                    <p class="text-default mt-3">لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار  النشوة وتمجيد الألم نشأت بالفعل، وسأعرض لك التفاصيل لتكتشف حقيقة وأساس تلك السعادة البشرية، فلا أحد يرفض أو يكره.</p>
                    <p class="text-default mt-3">ستتعرف على المبادئ والاستراتيجيات، ولكن الأهم من ذلك، أنك ستتعلم كيفية تطبيق هذه المفاهيم المجردة فعليًا عن طريق برمجة ثلاثة مواقع ويب مختلفة لثلاثة جماهير مختلفة تمامًا.</p>
                    <p class="text-default mt-3">سوف تتعرض للمبادئ والاستراتيجيات، ولكن الأهم من ذلك.</p>
                    <p class="text-default mt-3">سوف تتعرض للمبادئ والاستراتيجيات، ولكن الأهم من ذلك، أنك ستتعلم كيفية تطبيق هذه الملخصات فعليًا.</p>
                    <ul class="mt-3 mb-4">
                        <li>تطبيق استراتيجيات تجربة المستخدم على محتوى الموقع وتصميمه</li>
                        <li>فهم هندسة المعلومات لتحسين المحتوى على موقع الويب الخاص بك</li>
                        <li>تعرف على ما يخصص شكل موقع الويب الخاص بك</li>
                    </ul>
                    <a>اقرأ المزيد...</a>
                </div>
            </div>
            <div class="col-md-5 display flex-wrap">
                <div class="top">
                    <div class="item">
                        <div class="icon-wrapper">
                            <img src="../../../../../assets/images/document.png" class="img-fluid" />
                        </div>
                        <div class="text">
                            <h3>شهادة أصيلة</h3>
                            <p>احصل على شهادة عند الانتهاء</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon-wrapper">
                            <img src="../../../../../assets/images/screen.png" class="img-fluid" />
                        </div>
                        <div class="text">
                            <h3>دروس على الأنترنت</h3>
                            <p>ابدأ على الفور وتعلم بنفسك</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon-wrapper">
                            <img src="../../../../../assets/images/infinity.png" class="img-fluid" />
                        </div>
                        <div class="text">
                            <h3>إمكانية الوصول مدى الحياة</h3>
                            <p>تحديد مواعيد نهائية مرنة والحفاظ عليها</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon-wrapper">
                            <img src="../../../../../assets/images/levels.png" class="img-fluid" />
                        </div>
                        <div class="text">
                            <h3>مستوى المبتدئين</h3>
                            <p>لا يشترط خبرة سابقة</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon-wrapper">
                            <img src="../../../../../assets/images/cc.png" class="img-fluid" />
                        </div>
                        <div class="text">
                            <h3>دعم الترجمات</h3>
                            <p>الإنجليزية والهندية والماراثية</p>
                        </div>
                    </div>
                </div>
                
                <div class="bottom">
                    <div class="download">
                        <a href="javascript:void(0);"><img src="../../../../../assets/images/download.png" class="ms-2" />قم بتنزيل المنهج للحصول على التفاصيل الكاملة</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>