<section class="categories top-spacing pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="text-uppercase lg-title">edulife</h3>
                <p class="md-title">طريقة جديدة للتعلم</p>
            </div>
            <div class="col-md-12">
                <div class="boxes d-flex">
                    <div class="category-box">
                        <div class="category-box-inner">
                            <div class="item">
                                <p>دراسات</p>
                            </div>
                        </div>
                    </div>
                    <div class="category-box">
                        <div class="category-box-inner">
                            <div class="item">
                                <p>مسارات تعليمية</p>
                            </div>
                        </div>
                    </div>
                    <div class="category-box">
                        <div class="category-box-inner">
                            <div class="item">
                                <p>ورش عمل</p>
                            </div>
                        </div>
                    </div>
                    <div class="category-box">
                        <div class="category-box-inner">
                            <div class="item">
                                <p>كورسات</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="top-spacing">
                    <h4 class="text-uppercase mb-3 side-title">أفضل طريقة للتعلم !</h4>
                    <p class="text-default">نحن نساعد طلابنا بالمعدات والمعلمين والفصول الدراسية للوصول إلى أهدافك الجامعية النهائية بسهولة. نحن نقدم الرعاية الحقيقية لكل عضو.</p>
                </div>
            </div>
        </div>
    </div>
</section>