<section class="top-spacing tot-about publisher pt-lg-4 mb-5 pb-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-lg-5 mb-3">
                <h2 class="faint-title">فريم 18</h2>
                <p class="title-before text-capitalize">عن الناشر</p>
            </div>
            <div class="col-md-2">
                <div class="publisher-img">
                    <img src="../../../../../assets/images/publisher.png" />
                </div>
                <div class="publisher-details">
                    <p><strong>4.5</strong> تقييم المدرس</p>
                    <p><strong>28,707</strong> تقييمات</p>
                    <p><strong>155,242</strong> طلاب</p>
                    <p><strong>8</strong> كورسات</p>
                </div>
            </div>
            <div class="col-md-10">
                <div class="brief">
                    <h6 class="publisher-name">Anudeep Ayyagari</h6>
                    <p class="flint-text mt-2 mb-4">29 عامًا من تجربة المستخدم + التصميم المخضرم؛ مستشار ومؤلف ومتحدث</p>
                    <hr>
                    <p class="text-default mt-4">ستعلمك هذه الدورة كل ما تحتاج لمعرفته حول تجربة المستخدم، بما في ذلك التصميم والمحتوى والبرمجة. وسوف تتعلم من الألف إلى الياء، لذلك لا يهم مقدار الخبرة التي لديك عندما تبدأ.</p>
                    <p class="text-default mt-3 mb-4">لقد كان جو يبشر ويمارس إنجيل تجربة المستخدم (UX) لـ Fortune 100 و500 والمؤسسات الحكومية منذ ما يقرب من ثلاثة عقود. ويشمل هذا العمل قادة الصناعة التجارية مثل Google Ventures، وKroll/Duff + Phelps، وBroadridge، وConde Nast، وJohns Hopkins، وMettler-Toledo، وPHH Arval، وSC Johnson، وWolters Kluwer، بالإضافة إلى الوكالات الحكومية مثل مؤسسة العلوم الوطنية، والمعاهد الوطنية. وزارة الصحة ووزارة الأمن الداخلي.</p>
                    <a>اقرأ المزيد...</a>
                </div>
            </div>
        </div>
    </div>
</section>