.owl-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  pointer-events: none; // Prevents the nav buttons from blocking carousel drag
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
  display: flex !important;
  /* Ensure buttons are visible */
  background: #333;
  color: #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  z-index: 1000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-area {
  a {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;

    img {
      width: auto;
      margin: auto;
      max-width: 6.5rem;
      cursor: pointer;
    }

    p {
      color: #193148;
      font-size: 1.5rem;
      font-weight: bold;
      max-width: max-content;
      margin: auto;

      &:first-child {
        background-color: #c4c4c4;
        max-width: max-content;
        padding: 0.3rem 0.5rem;
        border-radius: 5px;
      }
    }

    &.active {
      p {
        border-bottom: 4px solid #e4b039;
      }
    }
  }
}

a {
  color: #193148;
}
