<app-header></app-header>
<app-page-inner-banner [sharedMessage]="parentMessage"></app-page-inner-banner>
<div class="container">
 <div class="diplomas carousel-area py-5">
  <owl-carousel-o [options]="customOptions">
   <ng-template carouselSlide>
    <a href="javascript:void(0)" class="text-center">
     <p>الكل</p>
    </a>
   </ng-template>
   <ng-template carouselSlide>
    <a href="javascript:void(0)" class="text-center active">
     <img src="../../../../../assets/images/money.png" alt="">
     <p class="mt-3">الأعمال</p>
    </a>
   </ng-template>
   <ng-template carouselSlide>
    <a href="javascript:void(0)" class="text-center">
     <img src="../../../../../assets/images/thinking.png" alt="">
     <p class="mt-3">البشرية</p>
    </a>
   </ng-template>
   <ng-template carouselSlide>
    <a href="javascript:void(0)" class="text-center">
     <img src="../../../../../assets/images/person.png" alt="">
     <p class="mt-3">المدير التنفيذى</p>
    </a>
   </ng-template>
   <ng-template carouselSlide>
    <a href="javascript:void(0)" class="text-center">
     <img src="../../../../../assets/images/graphics.png" alt="">
     <p class="mt-3">الجرافيكس</p>
    </a>
   </ng-template>
   <ng-template carouselSlide>
    <a href="javascript:void(0)" class="text-center">
     <img src="../../../../../assets/images/hospitals.png" alt="">
     <p class="mt-3">مستشفيات</p>
    </a>
   </ng-template>
  </owl-carousel-o>
 </div>
</div>
<app-join-now></app-join-now>
<app-join-now></app-join-now>
<app-join-now></app-join-now>
<app-footer></app-footer>