$primary: #193148;
$secondary: #e4b039;

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.image-container img {
  width: 100%;
  height: auto;
  min-height: 10rem;
  max-height: 20rem;
  object-fit: cover;
}

.caption {
  width: 100%;
  color: $primary;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
}

.w-75 {
  @media (max-width: 768px) {
    width: 100% !important;
  }
}
