$white: #fff;
$primary: #193148;
$secondary: #E4B039;
$dark-blue: #30333C;
$blue: #396DE4;
$light-blue: #4D83B6;
$brown: #483019;
$off-white: #F5F4F0;
$l-blue: #689CFD;
$light-gray: #D9D9D9;
$gray: #ADADAD;